* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 32px;
  display: grid;
  background: black;
  place-items: center;
  height: 100vh;
  overflow: hidden;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1;
  padding: clamp(5px, 2vw, 20px);
  border-radius: 9999px;
  background-image: linear-gradient(
    black 0,
    black 49.99%,
    white 50%,
    white 100%
  );
  animation: rotate 20s linear infinite;
  max-width: 600px;
  max-height: 600px;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
